# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Environments
.env
.venv
env/
venv/
ENV/

# IDE / Editors
.vscode/
.idea/

# OS metadata
.DS_Store
Thumbs.db

# Project-specific output directory
resultado/
